:root {
    --accent-dark: #6f6f6f;
    --accent-light: #D9D9D9;
    --table-highlight: rgba(64, 125, 127, 1);
    --table-highlight-faded: rgba(64, 125, 127, 0.54);
    --text: rgb(0, 0, 0);
    --text-faded: rgb(73, 73, 73);
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-divider {
    width: 70%;
    border: none;
    height: 1px;
    background-color: white;
}

.popup-centered {
    text-align: center;
    margin-bottom: 3vh;
}

.cooking-team {
    color: var(--accent-light);
}

.popup-content {
    background-color: var(--table-highlight);
    color: white;
    min-width: 500px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    font-family: Arial, sans-serif;
}

.popup-content h2 {
    margin: 0;
    font-size: 1.5em;
}

.popup-content p {
    margin: 10px 0;
}

.popup-content .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.popup-content .close-btn:hover {
    color: #ccc;
}

#lesson-popup {
    p:has(span:empty) {
        display: none;
    }
}

.popup-content.cancelled {

    background: linear-gradient(atan(var(--ratio)), var(--table-highlight) 49%, red 49%, red 51%, var(--table-highlight) 51%);

}