/* TABLE */
.table-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

table {
    width: 100%;
    height: 85vh;
    border-collapse: collapse;
    table-layout: fixed;
}

th,
td {
    border: 1px solid #ddd;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    width: 20%;
}

th {
    background-color: #f2f2f2;
    border-bottom: none;
}

.subheading-row th {
    background-color: var(--accent-light);
    font-size: 0.85em;
    height: 3%;
    font-weight: normal;
    border-top: none;
    padding: 5px 10px;
    margin: 0;
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text-faded);
}

.mainheading-row th {
    font-size: 1.2em;
}

td {
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    height: 100%;
}

thead th {
    background-color: var(--accent-light);
    height: 6%;
    font-weight: bolder;
    padding: 0px 4px;
}


/* leftmost column */
th:first-child,
td:first-child {
    font-weight: bolder;
    width: 3%;
    /* Smaller width */
    background-color: var(--accent-light);
}

/* equal width for other columns */
th:not(:first-child),
td:not(:first-child) {
    width: 18%;
}

#schedule tbody tr {
    height: 7.5vh;
    vertical-align: middle;

}

/* Table element content */
.lesson-grid-container {
    display: grid;
    grid-template-areas:
        "subject subject"
        "room teacher"
        "class class"
        "addInfo addInfo"
        "addInfo addInfo";
    /* gap: 10px; */
    /* Adjust spacing between elements */
    justify-items: center;
    /* Center elements horizontally */
    align-items: center;
    /* Center elements vertically */
    height: 100%;
    /* Adjust as needed */
    width: 100%;
    gap: 10px;
}

.lesson-grid-container-wrapper {
    width: 100%;
    height: 100%;
    display: block;
}

.lesson-grid-container>span:empty {
    display: none;
}

.lesson-grid-container:has(span.lesson-room:empty) {
    grid-template-areas:
        "subject subject"
        "teacher teacher"
        "class class"
        "addInfo addInfo"
        "addInfo addInfo";
}

.lesson-grid-container:has(span.lesson-teacher:empty) {
    grid-template-areas:
        "subject subject"
        "room room"
        "class class"
        "addInfo addInfo"
        "addInfo addInfo";
}

.lesson-grid-container>span>span:not(:last-child)::after {
    content: ", ";
    /* Add comma between items */
}

.lesson-grid-container {
    overflow: hidden;
    position: relative;
    justify-content: center;

    cursor: pointer;
    background-color: var(--table-highlight);
    border-radius: 10px;

    >span:not(.lesson-room)>span>span:not(:last-child)::after,
    >span.lesson-teacher>span>span.long>span:not(:last-child)::after {
        content: ' ';
    }

    .lesson-room .info {
        display: none;
        /* hide room info */
    }

    /* hide class if its the only one. 
    TODO: Disable if not own timetable */
    .lesson-class:has(span:only-child) {
        display: none;
    }

    .lesson-subject {
        grid-area: subject;
        font-size: 1.5em;
        font-weight: bold;
    }

    .lesson-room {
        grid-area: room;
        font-size: 1.2em;
    }

    .lesson-teacher {
        grid-area: teacher;
        font-size: 1.2em;
    }

    .lesson-class {
        grid-area: class;
        font-size: 1.2em;
    }

    .lesson-addInfo {
        grid-area: addInfo;
    }

    .originalData {
        text-decoration: line-through;
        text-decoration-color: red;
        text-decoration-thickness: 3px;
    }
}

#scheduleBody {
    .cancelled {
        background-color: var(--table-highlight-faded) !important;
        color: var(--text-faded) !important;
        font-style: italic !important;
    }

    .cancelled::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        --cancelled-line-thickness: 1.5px;
        background-image: linear-gradient(to bottom left,
                transparent calc(50% - var(--cancelled-line-thickness)),
                /* before the line */
                red calc(50% - var(--cancelled-line-thickness)),
                /* start of line */
                red calc(50% + var(--cancelled-line-thickness)),
                /* end of line */
                transparent calc(50% + var(--cancelled-line-thickness))
                /* after the line */
            );
    }

    .irregular {
        background-color: var(--table-highlight-irregular) !important;
    }

}